@model KooliProjekt.Data.Game

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Game</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GameStartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GameStartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GameStartTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GameStartTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HomeTeam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HomeTeam.TeamName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AwayTeam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AwayTeam.TeamName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AreTeamsConfirmed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AreTeamsConfirmed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tournament)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tournament.TournamentName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.GamesId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
