@model IEnumerable<KooliProjekt.Data.Team>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<form action="/" method="get" class="form-inline">
    <div class="form-group mx-sm-3 mb-2">
        @* <label for="Keyword" class="mr-2">Search</label> *@
        <input id="Keyword" class="form-control form-control-sm" name="Keyword" placeholder="Search..." />
    </div>
    @* <div class="form-group mx-sm-3 mb-2"> *@
    @*     <label for="Keyword" class="mr-2">Are teams confirmed</label> *@
    @*     <select class="form-control" name="AreTeamsConfirmed"> *@
    @*         <option>>-<</option> *@
    @*         <option value="True">Yes</option> *@
    @*         <option value="False">No</option> *@
    @*     </select> *@
    @* </div> *@
    <div class="form-group">
        <button class="btn btn-primary">Search</button>
        <a asp-controller="Teams" asp-action="Index" class="btn btn-primary">Reset</a>
    </div>
</form>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TeamName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GoalsScored)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GoalsScoredAgainstThem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GamesWon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GamesLost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GamesPlayed)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TeamName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GoalsScored)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GoalsScoredAgainstThem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GamesWon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GamesLost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GamesPlayed)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TeamId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TeamId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TeamId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
