@model KooliProjekt.Data.Leaderboard

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Leaderboard</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tournament)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tournament.TournamentName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PredictedPoints)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PredictedPoints)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rank)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rank)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.LeaderBoardId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
